@{
  Layout = "_Layout";
}

@model RecordStore.Models.Album

<h2>Add a song</h2>

<h4>Add a song to this album: @Html.DisplayFor(model => model.AlbumName)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.AlbumId)

    @Html.Label("Select category")
    @Html.DropDownList("SongId")

    <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to list", "Index")</p>